{% extends "layout.html"%}
{% block content %}
<div class = "col">
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">SmartSQL</h5>
    <p class="card-text">This is smartSQL which converts the natural language query  into SQL query. This can support normal sql queries and more than that.Here You should enter the correct table and columns.Later, we will update which can takes similar words of table and columns </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
{% endblock content%}